<div class="modal fade" id="deviceConnnecting" data-bs-backdrop="static" 
    data-bs-keyboard="false" tabindex="-1" aria-labelledby="deviceConnnectingModlaLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" data-bs-theme="dark">
                <h1 class="modal-title fs-5" id="deviceConnnectingModlaLabel">Connecting {{ getDeviceName() }}</h1>
            </div>
            <div class="modal-body">
                <span class="ms-0 me-auto ">Please wait...</span>
                
                <div class="spinner-border text-primary end-0 me-0 ms-auto" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>