<header class="p-3">
    <!-- <div class="container"> -->
      <div class="d-flex flex-wrap">
       <a href="/" class="d-flex align-items-center me-md-auto link-body-emphasis text-decoration-none">
            <img src="../../assets/images/icons/icons8-rocket-launch-64.png" 
                alt="Space Center Simulator logo" width="48" height="48" class="bg-light rounded-5">
            <span class="fs-4 ms-2 text-light">Space Center Simulator</span>
        </a>

        <ul class="nav me-2 mb-2 justify-content-center mb-0 mt-1">
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a href="#" class="nav-link link-opacity-75-hover px-2 link-light">Overview</a></li>
            <li routerLinkActive="active"><a href="#" class="nav-link link-opacity-75-hover px-2 link-light" routerLink="devices">Devices</a></li>
            <li routerLinkActive="active"><a href="#" class="nav-link link-opacity-75-hover px-2 link-light">Space</a></li>
            <li routerLinkActive="active"><a href="#" class="nav-link link-opacity-75-hover px-2 link-light">Research</a></li>
            <li routerLinkActive="active"><a href="#" class="nav-link link-opacity-75-hover px-2 link-light">News</a></li>
        </ul>

        <div class="dropdown text-end mt-2">
          <a href="#" class="d-block link-light text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="true">
            <img src="../../assets/images/icons/icons8-person-astronaut-48.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small">
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>

      </div>
    <!-- </div> -->
  </header>