<div class="modal fade" id="addDeviceModla" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addDeviceModlaLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" data-bs-theme="dark">
                <h1 class="modal-title fs-5" id="addDeviceModlaLabel">Add device</h1>
                <button type="button" class="btn-close text-white " data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form (ngSubmit)="onAddDevice()" #f="ngForm">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="formDeviceName" name="formDeviceName" ngModel>
                        <label for="formDeviceName">Device Name</label>
                        <p class="form-floating text-warning">Device name cannot be changed later</p>
                    </div>
                    <div class="form-floating">
                        <select class="form-select" id="formDeviceType" name="formDeviceType" aria-label="Select device type" ngModel>
                          <option value="Rover">Rover</option>
                          <option value="Satellite">Satellite</option>
                          <option value="Telescope" class="text-danger" disabled >Telescope</option>
                        </select>
                        <label for="formDeviceType">Device Type</label>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Add</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>