<app-header></app-header>

<main class="container-fluid p-3">

    <section class="bg-dark text-white ">
        <div class="section-header p-3">
            <span class="col fs-5 me-auto">Devices</span>
            <button class="btn btn-outline-primary p-0 w-10 col-1 float-end" type="button">Add</button>
        </div>
        <div class="h-auto">
            <ul class="list-group">
                <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <img src="../assets/images/icons/icons8-space-rover-48.png" alt="rover" width="32" height="32" class="rounded-circle flex-shrink-0">
                    <div class="d-flex gap-2 w-100 justify-content-between">
                        <div>
                        <h6 class="mb-0">Curiosity</h6>
                        <p class="mb-0 opacity-75">Rover</p>
                        </div>
                    </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <img src="../assets/images/icons/icons8-space-rover-48.png" alt="rover" width="32" height="32" class="rounded-circle flex-shrink-0">
                    <div class="d-flex gap-2 w-100 justify-content-between">
                        <div>
                        <h6 class="mb-0">Curiosity-2</h6>
                        <p class="mb-0 opacity-75">Rover</p>
                        </div>
                    </div>
                </a>
                <p class="text-dark p-1" *ngIf="devices.length == 0">No devices</p>
            </ul>
        </div>
    </section>

    <!-- <div class="bg-white h-auto b-0">
        <ul class="list-group">
            <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                <img src="../assets/images/icons/icons8-space-rover-48.png" alt="rover" width="32" height="32" class="rounded-circle flex-shrink-0">
                <div class="d-flex gap-2 w-100 justify-content-between">
                    <div>
                    <h6 class="mb-0">Curiosity</h6>
                    <p class="mb-0 opacity-75">Rover</p>
                    </div>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                <img src="../assets/images/icons/icons8-space-rover-48.png" alt="rover" width="32" height="32" class="rounded-circle flex-shrink-0">
                <div class="d-flex gap-2 w-100 justify-content-between">
                    <div>
                    <h6 class="mb-0">Curiosity-2</h6>
                    <p class="mb-0 opacity-75">Rover</p>
                    </div>
                </div>
            </a>
            <p class="text-dark p-1" *ngIf="devices.length == 0">No devices</p>
        </ul>
    </div> -->
</main>

<footer class="d-flex flex-wrap justify-content-between align-items-center p-1 mb-0 border-top text-white-50 fixed-bottom fs-6">
    <p class="mb-0">Created by Petar Velinov</p>
    <div class="mb-0 justify-content-end">icons by <a target="_blank" href="https://icons8.com">Icons8</a></div>
</footer>