<!-- <div class="d-flex top-0"> -->
    <app-devices-list></app-devices-list>

<!-- </div> -->

<hr>
<div class="bg-light text-center fw-bold text-dark border-bottom d-none d-sm-block d-md-none">sm</div>
<div class="bg-light text-center fw-bold text-dark border-bottom d-none d-md-block d-lg-none">md</div>
<div class="bg-light text-center fw-bold text-dark border-bottom d-none d-lg-block d-xl-none">lg</div>
<div class="bg-light text-center fw-bold text-dark border-bottom d-none d-xl-block d-xxl-none">xl</div>
<div class="bg-light text-center fw-bold text-dark border-bottom d-none d-xxl-block">xxl</div>