body {
  background-color: #344455;
  color: white;
}

header {
  background-color: #202b39;
}

section {
  background-color: #202b39;
  color: white;
}

.section-header {
  border-bottom: 1px solid gray;
}

.modal-content {
  background-color: #202b39;
  color: white;
}
